.table-container {
    display: flex;
    justify-content: center;
}

.custom-table {
    width: 80%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 1000px rgba(36, 32, 32, 0.15);
    /* Adjust the parameters as needed */
    border-radius: 0.4rem;
    overflow: hidden;
    z-index: 1;
    /* Ensure it's above other elements if necessary */
}

.custom-table th,
.custom-table td {
    padding: 12px 15px;
}

.custom-table th {
    background-color: #009879;
    color: #ffffff;
}

.custom-table tr {
    border-bottom: 1px solid #dddddd;
}

.custom-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.custom-table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.selected {
    background-color: lightgreen !important;
}